<!doctype html>

<html lang="{{ .Site.LanguageCode | default "en" }}">

<head>
  <title>{{ .Site.Title }}</title>
  {{ partial "meta" . }}
  {{ partial "header_includes" . -}}
</head>

<body>
  <div id="container">
    <header>
      <h1>
                <a href="{{ relURL "/" }}">{{ .Site.Title | markdownify }}</a>
            </h1>

      <ul id="social-media">
        {{ if .Site.Author.twitter }}
        <li><a href="https://twitter.com/{{ .Site.Author.twitter }}"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></li>
        {{ end }} {{ if .Site.Author.linkedin }}
        <li><a href="https://www.linkedin.com/in/{{ .Site.Author.linkedin }}"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></li>
        {{ end }} {{ if .Site.Author.github }}
        <li><a href="https://github.com/{{ .Site.Author.github }}"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a></li>
        {{ end }} {{ if .Site.Author.gitlab }}
        <li><a href="https://gitlab.com/{{ .Site.Author.gitlab }}"><i class="fa fa-gitlab fa-lg" aria-hidden="true"></i></a></li>
        {{ end }} {{ if .Site.Author.facebook }}
        <li><a href="https://www.facebook.com/{{ .Site.Author.facebook }}"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a></li>
        {{ end }} {{ if .Site.Author.instagram }}
        <li><a href="https://instagram.com/{{ .Site.Author.instagram }}"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a></li>
        {{ end }} {{ if .Site.Author.telegram }}
        <li><a href="https://telegram.me/{{ .Site.Author.telegram }}"><i class="fa fa-paper-plane fa-lg" aria-hidden="true"></i></a></li>
        {{ end }}
      </ul>
      {{ with .Site.Params.tagline }}
      <p><em>{{ . | markdownify }}</em></p>
      {{ end }}
    </header>

    {{ partial "nav" . }}

    <main>
